[Unit]
Description=Berycoin
After=network.target

[Service]
ExecStart=/home/electrumx/berycoin/src/berycoind -conf=/home/electrumx/.berycoin/berycoin.conf
User=electrumx
LimitNOFILE=8192
TimeoutStopSec=30min

[Install]
WantedBy=multi-user.target

